
body{
    background-color: antiquewhite;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-align: center;
    color:rgb(39, 24, 5);
}
.content{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    color:rgb(39, 24, 5);
}
#btn{
    position: relative;
    width:200px;
    height: 30px;
    background-color:burlywood;
    text-align: center;
    left:400px;

}